/* Farpalette 
#34626c -main
#839b97 
#cfd3ce -sidbar
#c6b497
*/

/* elements */
body {
    background-color:#34626c;
    font-family: 'Satisfy', cursive;
}

h1 {
    margin-top: 20px;
}

.bd-example {
    text-align: center;
}
.carousel-inner {
    margin-bottom: 10px;
}

.anker {
    height: 20px;
}

/* class */
.container-fluid {
    background-color:#cfd3ce;
    /* padding: 2%; */
    text-align: center;
}

#map {
    width: 1390px;
    height: 600px;
    display: inline-block;
    margin: auto;
  }

.own-nav {
background-color: #34626c;
}

.grid-container{
display: grid;
grid-template-columns: 10vw 80vw;
grid-template-rows: 100vh;
}

.sidebar{
    margin-left: 15px;
}